{% load static %}

<div style = "width: 100%;">
{%for principal_category in p_categories%}
    <div class="container" style = "width:100%;">
        <div class="row">
            <h2 class = "display-4" style = "text-align:center;">{{principal_category | title}}</h2>
            {%for product in products%}
                {% if product.stock > 0 %}
                    {%if principal_category in product.categories%}
                        <div class="col-lg-3 " style = "padding:10px; margin-top:20px;">
                            <div class="card">
                                <a href="" style = "text-decoration: none; color: black;">
                                    <img src="{{product.image1.url}}" class="card-img-top rounded" alt="..." style ="width:100%; height:350px;">
                                    <div class="card-body">
                                        <small class="text-muted">{{product.name}}</small>
                                        <br>
                                        {%if product.discount != 0%}
                                            <small style="color:rgb(206, 0, 0);" > <del>$MXN{{product.discount | floatformat:2}}</del></small>
                                        {%endif%}
                                        <h5 class="card-title">$MXN{{product.price | floatformat:2}}</h5>
                                        

                                        <div class = "container" style = "padding:10px; padding-top: 0px;">
                                            <div class = "row justify-content-between">
                                                <div class = "col">
                                                    {%for spec in product.get_specs%}
                                                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 120 120">
                                                            <circle cx="60" cy="60" r="50" fill="{{spec.color.codigo}}" />
                                                        </svg>
                                                    {%endfor%}
                                                </div>
                                                <div class = "col" style = "text-align: right;">
                                                    {%for spec in product.get_specs%}
                                                        <p style="display:inline" >|{{spec.size.valor}}</p>
                                                    {%endfor%}
                                                </div>
                                            </div>
                                        </div>
                                </a>
                                    <div class="container" style = "padding:0px;">
                                        <div class="row justify-content-between">
                                            <div class="col-9">
                                                <a href="{{ product.get_cart_path }}" class="btn btn-outline-dark">Agregar al carrito</a>
                                            </div>
                                            <div class="col-3"">
                                                <button type="button" class="btn btn-outline-secondary " data-bs-toggle="modal" data-bs-target="#emodal{{product.ide}}" aria-controls="{{product.ide}}">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrows-angle-expand" viewBox="0 0 16 16">
                                                        <path fill-rule="evenodd" d="M5.828 10.172a.5.5 0 0 0-.707 0l-4.096 4.096V11.5a.5.5 0 0 0-1 0v3.975a.5.5 0 0 0 .5.5H4.5a.5.5 0 0 0 0-1H1.732l4.096-4.096a.5.5 0 0 0 0-.707zm4.344-4.344a.5.5 0 0 0 .707 0l4.096-4.096V4.5a.5.5 0 1 0 1 0V.525a.5.5 0 0 0-.5-.5H11.5a.5.5 0 0 0 0 1h2.768l-4.096 4.096a.5.5 0 0 0 0 .707z"/>
                                                    </svg>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    {%endif%}
                {%endif%}
            {%endfor%}
        </div>
    </div>
{%endfor%}
</div>