{%extends "base.html"%}
{%block head%}
  <title>Add to cart</title>
{%endblock%}

{%block content%}
    <div style = "padding:30px; padding-top:80px;">
    {%if error%} 
        <h2 class= "display-4"> Agregar al carrito</h2>
        <p class = "alert alert-danger">{{error}}</p>
    {%else%}
        <!-- <h2 class = "display-4"> Agregar al carrito</h2> -->
        <p class = "alert alert-success"> {{product.name}} agregado con éxito</p>
        <div class="col-md-auto" style = "margin:5px; margin-top:20px;">
            <div class="card mb-3" style="margin:0px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <!-- <a href="" style = "text-decoration: none; color: black;"> -->
                            <div style = "width:10rem; display:block; margin:auto;">
                                <img src="{{product.image1.url}}" class="card-img-top rounded img-fluid" alt="...">
                            </div>
                    </div>
                    <div class="col-md-8">
                            <div class="card-body">
                                <small class="text-muted">{{product.name}}</small>
                                <h5 class="card-title">$MXN{{product.price}}</h5>
                                <div class = "container" style = "padding:10px;">
                                    <div class = "row">
                                        <div class = "col align-self-start">
                                            {%for color in product.get_colors%}
                                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 120 120">
                                                    <circle cx="60" cy="60" r="50" fill="{{color}}" />
                                                </svg>
                                            {%endfor%}
                                        </div>
                                        <div class = "col align-self-end">
                                            {%for size in product.get_sizes%}
                                                <p style="display:inline" >|{{size | title}}</p>
                                            {%endfor%}
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                        <!-- </a> -->
                    </div>
                </div>   
            </div>
                
                <div class="container">
                    <div class="row justify-content-end">
                        <div class="col-5">
                            {%if request.user.cart.subtotal%}
                                <!-- <p>Hay {{request.user.cart.no_productos}} productos en tu carrito</p> -->
                                <h3 class="display-6">Subtotal $MXN{{request.user.cart.subtotal}}</h3>
                            {%else%}
                                <h3 class= "display-6" >Subtotal $MXN{{request.session.subtotal_}}</h3> 
                            {%endif%}
                        </div>
                        <div class="col-3">
                            <a type="button" class="btn btn-outline-dark" href = "{%url "cart"%}">Ir al carrito</a>
                        </div>
                    </div>
                </div>
        </div>
    {%endif%}
        
    </div>
{%endblock%}

