{%extends "base.html"%}
{%block head%}
  <title>Producto </title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

      <script>
          $(document).ready(function()
              {
                  var $productvar = $("#talla");
                  var $itemvar = $("#color");
  
                      $options = $itemvar.find('option');
                      $productvar.on('change',function(){
                          $itemvar.html($options.filter('[shit = "'+ this.value + '"]'));
                      }).trigger('change')
              }
          );
  
      </script>
{%endblock%}

{%block content%}
    <div style = "padding:30px; padding-top:100px;">
        {%if error%}
            <p class = "alert alert-dark">{{error}}</p>
        {%else%}
            <!--Section: Block Content-->
            <section class="mb-5">

                <div class="row justify-content-center">
                <div class="col-md-5 mb-4 mb-md-0">
            
                    <div id="mdb-lightbox-ui"></div>
            
                    <div class="mdb-lightbox">
            
                    <div class="row product-gallery mx-1">
            
                        <div class="col-12 mb-0">
                            <figure class="view overlay rounded z-depth-1 main-img" style = "width:100%;">
                                <a href="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/15a.jpg"
                                data-size="710x823">
                                <img src="{{product.image1.url}}"
                                    class="img-fluid z-depth-1">
                                </a>
                            </figure>
                        </div>
                        <div class="col-12">
                            <div class="row">
                                <div class="col-3">
                                <div class="view overlay rounded z-depth-1 gallery-item">
                                    <img src="{{product.image1.url}}"
                                    class="img-fluid">
                                    <div class="mask rgba-white-slight"></div>
                                </div>
                                </div>
                                <div class="col-3">
                                <div class="view overlay rounded z-depth-1 gallery-item">
                                    <img src="{{product.image2.url}}"
                                    class="img-fluid">
                                    <div class="mask rgba-white-slight"></div>
                                </div>
                                </div>
                                <div class="col-3">
                                <div class="view overlay rounded z-depth-1 gallery-item">
                                    <img src="{{product.image3.url}}"
                                    class="img-fluid">
                                    <div class="mask rgba-white-slight"></div>
                                </div>
                                </div>
                                <div class="col-3">
                                <div class="view overlay rounded z-depth-1 gallery-item">
                                    <img src="{{product.image4.url}}"
                                    class="img-fluid">
                                    <div class="mask rgba-white-slight"></div>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
            
                    </div>
            
                </div>
                <div class="col-md-6">
            
                    <h5 class="modal-title">{{product.name}}</h5>
                    <p class="mb-2 text-muted text-uppercase small">Shirts</p>
                    {%if product.discount != 0%}
                        <h4 style="color: rgba(58, 57, 56, 0.918);"><del>$MXN{{product.discount | floatformat:2}}</del></h4>
                                <!-- <small style="color:rgb(206, 0, 0);" > <del>Ahorras:$MXN{{product.discount | floatformat:2}}</del></small> -->
                    {%endif%}
                        <h1>$MXN{{product.price | floatformat:2}}</h1>
                            
                    <p class="pt-1">{{product.descripcion}}</p>
                        <div class="table-responsive">
                        <table class="table table-sm table-borderless mb-0">
                            <tbody>
                            <tr>
                                <th class="pl-0 w-25" scope="row"><strong>Tallas</strong></th>
                                <td>
                                    {%for spec in product.get_specs%}
                                        | {{spec.size.valor}} 
                                    {%endfor%}
                                </td>
                            </tr>
                            <tr>
                                <th class="pl-0 w-25" scope="row"><strong>Colores</strong></th>
                                <td>
                                    {%for spec in product.get_specs%}
                                        
                                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 120 120">
                                            <circle cx="60" cy="60" r="50" fill="{{spec.color.codigo}}" stroke = "black" stroke-width="5px"/>
                                        </svg>
                                        - {{spec.color.nombre}}  
                                    {%endfor%}
                                </td>
                            </tr>
                            <tr>
                                <th class="pl-0 w-25" scope="row"><strong>Stock</strong></th>
                                <td>{{product.stock}}</td>
                            </tr>
                            </tbody>
                        </table>
                        </div>
                        <hr>
                    <form method="POST" action="{{ product.get_cart_path }}">
                        {%if error_%}
                            <p class = "alert alert-dark">{{error_}}</p>
                        {%endif%}
                        <div class="table-responsive mb-2">
                        <table class="table table-sm table-borderless">
                            <tbody>
                            <tr>
                                <td class="pl-0 pb-0 w-25">Cantidad</td>
                                <td class="pb-0 pb-0 w-25">Color</td>
                                <td class = "pb-0 pb-0 w-25">Cantidad</td>
                            </tr>
                            <tr>
                                <td class="pl-0">
                                    <div style = "padding-top:3px; width:50%;"> 
                                        {%csrf_token%}
                                        {%if  product.stock == 0 %}
                                            <select class="form-select" aria-label=".form-select-lg example" disabled required = "true" name ="size">
                                        {%else%}
                                            <select id = "talla" class="form-select" aria-label=".form-select-lg example" required = "true" name ="size">
                                        {%endif%}
                                                <option disabled = "true" selected>Talla</option>
                                            {% for spec in product.get_specs %}
                                                    <option value="{{spec.size.valor}}">{{spec.size.valor}}</option>
                                            {%endfor%}   
                                    </div>
                                    
                                </td>
                                <td>
                                    <div style = "padding-top:3px; width:50%;"> 
                                        {%csrf_token%}
                                        {%if  product.stock == 0 %}
                                            <select class="form-select"  aria-label=".form-select-lg example" disabled required = "true" name ="color">
                                        {%else%}
                                            <select id = "color" class="form-select" aria-label=".form-select-lg example" required = "true" name ="color">
                                        {%endif%}
                                                <option disabled = "true" selected>Color</option>
                                                {%for spec in product.get_specs%}
                                                        <!-- if foorloop.counter0 == 0 -->
                                                        <option value="{{spec.color.nombre}}" shit = "{{spec.size.valor}}">{{spec.color.nombre}}</option>
                                                {%endfor%}
                                            </select>
                                    </div>
                                </td>
                                <td class="pl-0">
                                    <div style = "padding-top:3px; width:50%;"> 
                                        {%csrf_token%}
                                        {%if  product.stock == 0 %}
                                            <input value = "0" disabled min = "0" max ="{{product.tock}}" type="number" step  ="1" class="form-control" id="cantidad" placeholder="Cantidad" name = "quantity">
                                        {%else%}
                                            <input value = "1" min = "1" max ="{{product.stock}}" type="number" step  ="1" class="form-control" id="cantidad" placeholder="Cantidad" name = "quantity">
                                        {%endif%}
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        </div>
                        <button type="submit" class="btn btn-dark btn-md mr-1 mb-2">Comprar ahora</button>
                        <button type="submit"  class="btn btn-outline-secondary btn-md mr-1 mb-2">
                            Agregar al carrito
                        </button>
                        <button type="submit" class="btn btn-outline-danger btn-md mr-1 mb-2"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-suit-heart" viewBox="0 0 16 16">
                            <path d="m8 6.236-.894-1.789c-.222-.443-.607-1.08-1.152-1.595C5.418 2.345 4.776 2 4 2 2.324 2 1 3.326 1 4.92c0 1.211.554 2.066 1.868 3.37.337.334.721.695 1.146 1.093C5.122 10.423 6.5 11.717 8 13.447c1.5-1.73 2.878-3.024 3.986-4.064.425-.398.81-.76 1.146-1.093C14.446 6.986 15 6.131 15 4.92 15 3.326 13.676 2 12 2c-.777 0-1.418.345-1.954.852-.545.515-.93 1.152-1.152 1.595L8 6.236zm.392 8.292a.513.513 0 0 1-.784 0c-1.601-1.902-3.05-3.262-4.243-4.381C1.3 8.208 0 6.989 0 4.92 0 2.755 1.79 1 4 1c1.6 0 2.719 1.05 3.404 2.008.26.365.458.716.596.992a7.55 7.55 0 0 1 .596-.992C9.281 2.049 10.4 1 12 1c2.21 0 4 1.755 4 3.92 0 2.069-1.3 3.288-3.365 5.227-1.193 1.12-2.642 2.48-4.243 4.38z"></path>
                        </svg></button>

                    </form>
                </div>
            </div>
            
            </section>
            <!--Section: Block Content-->
        {%endif%}
    </div>
    
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script>
        $(document).ready(function () {
        // MDB Lightbox Init
        $(function () {
            $("#mdb-lightbox-ui").load("mdb-addons/mdb-lightbox-ui.html");
        });
        });
    </script>
{%endblock%}