<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
</head>
<body>
   <!--Carrito--> 
    <div class="card">
        <h5 class="card-header">Carrito</h5>
        <div class="container">
            <div class="row"> 
                <div class="col-auto">
                    <div class="card-body">
                        <!--Artículos-->
                            <div class="card-body">
                                <div class="card">
                                    <h5 class="card-header">Nombre del producto mucho texto así bien cañon a ver si sirve si pongo mucho texto </h5>
                                    <div class="card-body">
                                        <figure class="text-end">
                                            <img src="https://encrypted-tbn1.gstatic.com/shopping?q=tbn:ANd9GcTd3Zr4Na29V2s2rz3iwp3Fpy4chhJSvkdiDCQpXwFPu8MPX6K7oFlswAfhxc0Ftum8QEHRXQwFtHi25O_OEdevjDo0ujfGrcGsMez62Os49bzkFEE2nTKSQw&usqp=CAc" class="rounded float-start" alt="...">
                                            <blockquote class="blockquote">
                                            <div class="container">
                                                <div class="row">
                                                    <div class="col">
                                                        <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                                                            <option selected>Talla</option>
                                                            <option value="1">One</option>
                                                            <option value="2">Two</option>
                                                            <option value="3">Three</option>
                                                        </select>
                                                    </div>
                                                    <div class="col">
                                                        <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                                                            <option selected>Color</option>
                                                            <option value="1">One</option>
                                                            <option value="2">Two</option>
                                                            <option value="3">Three</option>
                                                        </select>
                                                    </div>
                                                   
                                                </div>
                                            </div>
                                            <h3>$MXN000</h3>
                                            <a href="">Eliminar</a>
                                            <a href="" style="text-decoration:none">//</a>
                                            <a href="">Agregar a la WishList</a>
                                            </blockquote>
                                        </figure>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="card">
                                    <h5 class="card-header">Nombre del producto mucho texto así bien cañon a ver si sirve si pongo mucho texto </h5>
                                    <div class="card-body">
                                        <figure class="text-end">
                                            <img src="https://encrypted-tbn1.gstatic.com/shopping?q=tbn:ANd9GcTd3Zr4Na29V2s2rz3iwp3Fpy4chhJSvkdiDCQpXwFPu8MPX6K7oFlswAfhxc0Ftum8QEHRXQwFtHi25O_OEdevjDo0ujfGrcGsMez62Os49bzkFEE2nTKSQw&usqp=CAc" class="rounded float-start" alt="...">
                                            <blockquote class="blockquote">
                                            <div class="container">
                                                <div class="row">
                                                    <div class="col">
                                                        <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                                                            <option selected>Talla</option>
                                                            <option value="1">One</option>
                                                            <option value="2">Two</option>
                                                            <option value="3">Three</option>
                                                        </select>
                                                    </div>
                                                    <div class="col">
                                                        <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                                                            <option selected>Color</option>
                                                            <option value="1">One</option>
                                                            <option value="2">Two</option>
                                                            <option value="3">Three</option>
                                                        </select>
                                                    </div>
                                                   
                                                </div>
                                            </div>
                                            <h3>$MXN000</h3>
                                            <a href="">Eliminar</a>
                                            <a href="" style="text-decoration:none">//</a>
                                            <a href="">Agregar a la WishList</a>
                                            </blockquote>
                                        </figure>
                                    </div>
                                </div>
                            </div>
                        <!--Artículos-->
                    </div>

                </div>
                <div class="col" style="padding: 2rem;">
                    <div class="card text-center">
                        <div class="card-body">
                          <h5 class="card-title">SUBTOTAL: </h5>
                          <p class="h4">$MXN000</p>
                          <a href="#" class="btn btn-primary btn-lg">PAGAR</a>
                        </div>
                        <div class="card-footer text-muted">
                          Resumen del pedido
                        </div>
                      </div>
                </div>
            </div>
        </div> 
    </div> 




    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>

</body>
</html>