{%extends "base.html"%}
{%block head%}
  <title>Add to cart</title>
{%endblock%}


{%block content%}

<div class="row">
  <div class="col">
    <div class="card" style="width: 18rem;">
        <img src="https://img.ltwebstatic.com/images2_pi/2019/09/09/1567997925590672529_thumbnail_900x1199.webp" class="card-img-top" alt="...">
        <div class="card-body">
            <small class="text-muted">Descripción del producto</small>
            <h5 class="card-title">$MXN000</h5>
          <a href="#" class="btn btn-outline-success">Agregar al carrito</a>
          <button type="button" class="btn btn-outline-danger ">♥</button>
        </div>
      </div>
  </div>



{%endblock%}