{%extends "base.html"%}
{%block head%}
  <title>Cart</title>
{%endblock%}

{%block content%}
    <div style = "padding:30px; padding-top:80px;">
        <h2 class= "display-4"> Carrito de compras {{request.user.email}}</h2>
        {%if error%}
            <p class = "alert alert-danger">{{error}}</p>
        {%elif cart%}
            <form action = "{%url "payment"%}" method = "POST">
                {%csrf_token%}
                <div class="container">
                    <div class="row justify-content-center"> 
                        <div class="col-lg-8 align-self-center">
                            <div class="card-body" style = "padding:0px;">
                                <!--Artículos-->
                                {%for product in cart%}
                                    <div class="card-body">
                                        <div class="card">
                                            <h5 class="card-header">{{product.name}} </h5>
                                            <div class="card-body">
                                                <figure class="text-end">
                                                    <img src="{{product.image1.url}}" class="rounded float-start" alt="..." style = "width:100px;">
                                                    <blockquote class="blockquote" style = "margin-bottom:0px;">
                                                    <div class="container">
                                                        <div class="row justify-content-end">
                                                            <div class="col-3">
                                                                <select class="form-select" aria-label=".form-select-lg example" required = "true" name ="!*-size-{{product.ide}}-{{forloop.counter0}}">
                                                                    <option selected>Talla</option>
                                                                    {%for size in product.get_sizes%}
                                                                        <option value="{{size}}">{{size}}</option>
                                                                    {%endfor%}   
                                                                </select>
                                                            </div>
                                                            <div class="col-3">
                                                                <select class="form-select" aria-label=".form-select-lg example" required = "true" name ="!*-col-{{product.ide}}-{{forloop.counter0}}">
                                                                    <option selected>Color</option>
                                                                    {%for color in product.get_colors%}
                                                                        <option value="{{size}}">{{color}}</option>
                                                                    {%endfor%}
                                                                </select>
                                                            </div>
                                                        
                                                        </div>
                                                    </div>
                                                    <h4 style = "padding-top:30px;">$MXN{{product.price}}</h4>
                                                    <a href="{{product.get_remove_path}}">Eliminar</a>
                                                    <a href="" style="text-decoration:none">//</a>
                                                    <a href="">Agregar a la WishList</a>
                                                    </blockquote>
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                {%endfor%}
                                <!--Artículos-->
                            </div>
        
                        </div>
                        <div class="col-lg-4" style="padding: 1rem;">
                            <div class="card text-center">
                                <div class="card-body">
                                <h5 class="card-title">SUBTOTAL: </h5>
                                <p class="h4">$MXN{{request.session.subtotal_}}</p>
                                <button href="#" class="btn btn-primary btn-lg" type = submit>PAGAR</button>
                                </div>
                                <div class="card-footer text-muted">
                                Resumen del pedido
                                </div>
                            </div>
                        </div>
                    </div>
                </div> 
            </form>
        {%elif productscart%}
            <form action = "{%url "payment"%}" method = "POST">
                {%csrf_token%}
                <div class="container">
                    <div class="row justify-content-center"> 
                        <div class="col-lg-8 align-self-center">
                            <div class="card-body" style = "padding:0px;">
                                <!--Artículos-->
                                {%for productcart in productscart%}
                                    <div class="card-body">
                                        <div class="card">
                                            <h5 class="card-header">{{productcart.product.name}}</h5>
                                            <div class="card-body">
                                                <figure class="text-end">
                                                    <img src="{{productcart.product.image1.url}}" class="rounded float-start" alt="..." style = "width:100px;">
                                                    <blockquote class="blockquote" style = "margin-bottom:0px;">
                                                    <div class="container">
                                                        <div class="row justify-content-end">
                                                            <div class="col-sm-4 col-md-3" style = "padding:0px; padding-left:10px;">
                                                                {%if  productcart.product.stock == 0 %}
                                                                    <select class="form-select" aria-label=".form-select-lg example" disabled required = "true" name ="!*-size-{{productcart.product.ide}}-{{forloop.counter0}}">
                                                                {%else%}
                                                                    <select class="form-select" aria-label=".form-select-lg example" required = "true" name ="!*-size-{{productcart.product.ide}}-{{forloop.counter0}}">
                                                                {%endif%}
                                                                        <option selected>Talla</option>
                                                                    {%for size in productcart.product.get_sizes%}
                                                                        <option value="{{size}}">{{size}}</option>
                                                                    {%endfor%}   
                                                                </select>
                                                            </div>
                                                            <div class="col-sm-5 col-md-4" style = "padding:0px; padding-left:10px;" >
                                                                {%if  productcart.product.stock == 0 %}
                                                                    <select class="form-select" aria-label=".form-select-lg example" disabled required = "true" name ="!*-col-{{productcart.product.ide}}-{{forloop.counter0}}">
                                                                {%else%}
                                                                    <select class="form-select" aria-label=".form-select-lg example" required = "true" name ="!*-col-{{productcart.product.ide}}-{{forloop.counter0}}">
                                                                {%endif%}
                                                                        <option selected>Color</option>
                                                                    {%for color in productcart.product.get_colors%}
                                                                        <option value="{{size}}">{{color}}</option>
                                                                    {%endfor%}
                                                                </select>
                                                            </div>
                                                        
                                                        </div>
                                                    </div>
                                                    <h4 style = "padding-top:30px;">$MXN{{productcart.product.price}}</h4>
                                                    <a href="{{productcart.get_remove_path}}">Eliminar</a>
                                                    <a href="" style="text-decoration:none">//</a>
                                                    <a href="">Agregar a la WishList</a>
                                                    </blockquote>
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                {%endfor%}
                                <!--Artículos-->
                            </div>
        
                        </div>
                        <div class="col-lg-4" style="padding: 1rem; ">
                            <div class="card text-center">
                                <div class="card-body">
                                <h5 class="card-title">SUBTOTAL: </h5>
                                <p class="h4">$MXN{{request.user.cart.subtotal}}</p>
                                <button href="#" class="btn btn-primary btn-lg" type = submit>PAGAR</button>
                                </div>
                                <div class="card-footer text-muted">
                                Resumen del pedido
                                </div>
                            </div>
                        </div>
                    </div>
                </div> 
            </form>
        {%endif%}
    </div>
{%endblock%}