{%extends "base.html"%}
{%block head%}
    <title>Dirección </title>
{%endblock%}

{%block content%}
    <div style ="padding:30px; padding-top:100px;">
        <section>
            <!--Grid row-->
            <form action="{%url "add_address"%}" method = "POST">
                {%csrf_token%}
            <div class="row">
                
        
            <!--Grid column-->
            <div class="col-lg-8 mb-4">
  
                <!-- Card -->
                <div class="card wish-list pb-1">
                  <div class="card-body">
          
                    <h5 class="mb-2">Detalles para envío</h5>
          
                    <!-- Grid row -->
                    <div class="row">
          
                      <!-- Grid column -->
                      <div class="col-lg-6">
          
                        <!-- First name -->
                        <div class="md-form md-outline mb-0 mb-lg-4">
                            <label for="firstName">Nombre</label>
                            <input name = "nombre" required type="text" id="firstName" class="form-control mb-0 mb-lg-2" placeholder = "Nombre del destinatario">
                          
                        </div>
          
                      </div>
                      <!-- Grid column -->
          
                      <!-- Grid column -->
                      <div class="col-lg-6">
          
                        <!-- Last name -->
                        <div class="md-form md-outline">
                            <label for="lastName">Apellido</label>
                            <input name = "apellido" required type="text" id="lastName" class="form-control" placeholder = "Apellido del destinatario">
                        </div>
          
                      </div>
                      <!-- Grid column -->
          
                    </div>
                    <!-- Grid row -->
                
          
                    <!-- Address Part 1 -->
                    <!-- <div class="md-form md-outline mt-0" style="padding-bottom: 1rem;">
                        <label for="form14">Calle</label>
                        <input type="text" id="form14" placeholder="Calle, colonia, número exterior" class="form-control">
                    </div>
           -->
                    <!-- Address Part 2 -->
                    <div class="md-form md-outline">
                        <label for="form15">Dirección</label>
                        <input name = "direccion" required type="text" id="form15" placeholder="Calle, número exterior e interior"
                        class="form-control">
                      
                    </div>
          
                    <!-- Grid row -->
                    <div class="row" >
          
                      <!-- Grid column -->
                      <div class="col-lg-6" style = "padding-top: 10px;">
          
                        <!--Código Postal -->
                        <div class="md-form md-outline">
                            <label for="form16">Código Postal</label>
                            <input name = "cp" required type="text" id="form16" class="form-control">
                          </div>
          
                      </div>
                      <!-- Grid column -->
          
                      <!-- Grid column -->
                      <div class="col-lg-6" style = "padding-top: 10px;">
          
                        <!-- Ciudad estado -->
                        <div class="md-form md-outline">
                            <label for="form17">Ciudad / Estado</label>
                            <input name = "ciudad" required type="text" id="form17" class="form-control">
                        </div>
          
                      </div>
                      <!-- Grid column -->
          
                    </div>
                    <!-- Grid row -->
          
                    <!-- Grid row -->
                    <div class="row">
          
                      <!-- Grid column -->
                      <div class="col-lg-6" style = "padding-top: 10px;">
          
                        <!-- Phone -->
                        <div class="md-form md-outline">
                            <label for="form18">Número de teléfono/ Celular</label>
                            <input name = "numero" required type="number" id="form18" class="form-control">
                          </div>
          
                      </div>
                      <!-- Grid column -->
          
                      <!-- Grid column -->
                      <div class="col-lg-6" style = "padding-top: 10px;">
          
                         <!-- Email address -->
                         <div class="md-form md-outline">
                            <label for="form19">Correo Electrónico</label>
                            <input name = "correo" required type="email" id="form19" class="form-control">
                          
                          </div>
          
                      </div>
                      <!-- Grid column -->
          
                    </div>
                    <!-- Grid row -->
          
                    <!-- Additional information -->
                    <div class="md-form md-outline" style = "padding-top: 10px;">
                        <label for="form76">Información adicional</label>
                        <textarea name = "adicional" required id="form76" placeholder="Casa azul, puerta amarilla, etc." class="md-textarea form-control" rows="4"></textarea>
                    </div>
          
                    <!-- <div class="form-check pl-0 mb-4 mb-lg-0">
                      <input name = "recordar" type="checkbox" class="form-check-input filled-in" id="new3">
                      <label class="form-check-label small card-link-secondary" for="new3">Recordar datos</label>
                    </div> -->
          
                  </div>
                </div>
                <!-- Card -->
          
              </div>
            <!--Grid column-->
        
            <!--Grid column-->
            <div class="col-lg-4">
                
                <div class="sticky-top">
                    <h3 style = "padding-bottom:1.5rem;"> Resumen del pedido </h3>
                    <!-- Card -->
                    <div class="card mb-4">
                    <div class="card-body">
            
                        
            
                        <ul class="list-group list-group-flush">
                        <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
                            Total por artículos
                            <span>$MXN{{request.user.cart.subtotal}}</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                            Costos de envío
                            <span>Gratis</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">
                            <div>
                            <strong>Total de compra </strong>
                            <strong>
                                <p class="mb-0">(IVA incluído )</p>
                            </strong>
                            </div>
                            <span><strong>$MXN000.00</strong></span>
                        </li>
                        </ul>
                        <div class="d-grid gap-2">
                            <button type="submit" class="btn btn-dark btn-block waves-effect waves-light">Realizar compra</button>
                        </div>    
                    </div>
                    </div>
                    <!-- Card -->
            
                    <!-- Card -->
                    <div class="card mb-4">
                    <div class="card-body">
            
                        <a class="dark-grey-text d-flex justify-content-between link-dark" data-toggle="collapse" href="#collapseExample"
                        aria-expanded="false" aria-controls="collapseExample">
                        Añadir descuento (opcional)
                        <span><i class="fas fa-chevron-down pt-1"></i></span>
                        </a>
            
                        <div class="collapse" id="collapseExample">
                        <div class="mt-3">
                            <div class="md-form md-outline mb-0">
                            <input type="text" id="discount-code" class="form-control font-weight-light"
                                placeholder="Código de descuento">
                            </div>
                        </div>
                        </div>
                    </div>
                    </div>
                    <!-- Card -->
            
                </div>
                <!--Grid column-->
            
                </div>
            <!--Grid row-->
            </div>
        </form>
        </section>
    </div>    <!--Section: Block Content-->

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script>
            $(document).ready(function () {
                $('.mdb-select').materialSelect();
                $('.select-wrapper.md-form.md-outline input.select-dropdown').bind('focus blur', function () {
                $(this).closest('.select-outline').find('label').toggleClass('active');
                $(this).closest('.select-outline').find('.caret').toggleClass('active');
        });
        });
        </script>
{%endblock%}